* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/background.jpg);
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
}

header .menu {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px
}

header .menu li {
    display: inline-block;
}

header .menu a {
    color: white;
    padding: 8px 12px;
    border-radius: 3px;
    transition: 1s;
}

header .menu .ativo, header .menu a:hover {
    color: #444;
    background-color: white;
}

header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.center h1 {
    color: white;
    font-size:40px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2 {
    color: white;
    font-size:20px;
    width: 850px;
    margin-top: 10px;
    text-align: center;
    margin-left: 22px;
}

.center .button {
    margin: 40px 350px;
}

.button .btn {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background-color: red;
    border: 1px solid #cc0000;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 18px;
}